* {
	margin: 0;
	padding: 0; 
}

html, body {
    overflow-x: hidden; 
}

html {
	position: relative;
	min-height: 100%;
}

body {
    height: 100%;
    width: 900px;
	border: 0;
	margin: 0 auto 32px;

	background-image: url('img/texture_dark3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 900px) {
body {
		width: 100%;
	}
}

.wrap {
	margin-top: 50px;
}

@font-face {
	font-family: JosefinSansTDH;
	src: url('fonts/JosefinSansTDH.ttf');
}

@font-face {
	font-family: JosefinSansTDH-Bold;
	src: url('fonts/JosefinSansTDH-Bold.ttf');
}

h1 {
	color: black;
	text-align: center;
	text-shadow: 5px 5px 8px #444;
	font-size: 80px;
	font-family: JosefinSansTDH, Arial, sans-serif;
	padding: 6% 0 2%;
}

h2 {
	color: black;
	text-align: center;
	text-shadow: 5px 5px 8px #444;
	font-size: 64px;
	font-family: JosefinSansTDH, Arial, sans-serif;
	padding: 2% 0;
}

h3 {
	color: black;
	text-align: center;
	text-shadow: 5px 5px 8px #444;
	font-size: 36px;
	font-family: JosefinSansTDH, Arial, sans-serif;
	padding: 2% 0;
}

p {
	display: inline-block;
	color: #333;
	font-weight: 300; 
	font-size: 20px;
	font-family: Arial, sans-serif;
	padding: 2% 0;
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
} 

.hidden {
	visibility: hidden;
}

@media only screen and (max-width : 820px) {
	h1 {
		font-size: 48px;
		margin: 0 auto;
		padding: 4% 0 1%;
	}

	h2 {
		font-size: 40px;
		margin: 0 auto;
		padding: 1% 0;
	}

	h3 {
		font-size: 24px;
		margin: 0 auto;
		padding: 1% 0;
	}

	p {
		font-size: 16px;
		padding: 1% 0;
	}
}

/***************************************
* Menu Styling
***************************************/
header {
	background: black;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid #FF9900;
	z-index: 100;

    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
            transition: all 0.25s ease;
}

.header {
	font-family: JosefinSansTDH, Arial, sans-serif;
	float: left;
	font-size: 32px;
	padding: 10px 0 0 20px;
}

nav {
	font-family: JosefinSansTDH, Arial, sans-serif;
	float: right;
	font-size: 15px;
	padding: 0;	
}

#menu {
	display: block;
}

#menu-icon {
	display: hidden;
	height: 40px;
	width: 40px;
	background: black url(img/menu-icon.png) center;
}

/*Mobile menu icon hover colour*/
a#menu-icon {
	background-color: black;

	-webkit-transition: all 0.25s ease;
  	   -moz-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}

a:hover#menu-icon {
	background-color: #FF9900;
}

ul {
	list-style: none;
	padding: 0;	
}

li {
	display: inline-block;
	float: left;
	padding: 16px 8px;
}

/*Normal menu hover colour*/
#menu li {
	height: 18px;
	background-color: black;

	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	        transition: all 0.25s ease;
}

#menu li:hover {
	background-color: #FFCC00;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 820px) {
	#menu-icon {
		display:inline-block;
		padding: 10%;
	}

	#menu a {
		font-size: 18px;
	}

	nav ul { 
		display: block;
		position: fixed;
		background: black;
		border: 2px solid #FF9900;
		top: 50px;
		right: -164px;
		width: 160px;
		padding: 0;
		margin: 0;

		-webkit-transition: all 0.25s ease;
		   -moz-transition: all 0.25s ease;
		     -o-transition: all 0.25s ease;
		    -ms-transition: all 0.25s ease;
		        transition: all 0.25s ease;
	}

	.active {
		right: 0;
	}

	nav li {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		margin: 0;
	}
}

/*MEDIA QUERY*/
@media only screen and (max-width : 400px) {
	.header {
		font-size: 28px;
	}
}

/*MEDIA QUERY*/
@media only screen and (max-width : 340px) {
	.header {
		font-size: 24px;
	}
}

/***************************************
* Index Page Styling
***************************************/
.background {
	text-align: center;
}

.cover {
	padding: 60px;
	display: inline-block;
	vertical-align: top;
}

.cover a img {
	height: 400px;
	width: 400px;

  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

.cover a img:hover {
	margin-top: -20px;
	height: 440px;
	width: 440px;
}

/***************************************
* Video Styling
***************************************/
.video-header {
	padding-top: 1%;
	padding-bottom: 1%;
}

.video div {
	display: block;
}

.video-container {
    position: relative;
    padding-bottom: 52%;
    height: 0; 
    overflow: hidden;
    margin: 0;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/***************************************
* Pictures Styling
***************************************/
.pictures {
}

/***************************************
* Music Styling
***************************************/
.player {
	margin: 2% auto 0;
}

.badges {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}

.badge {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	height: 60px;
	width: 160px;
	display: inline-block;
	vertical-align: top;
}

.badge a img {
	height: 40px;
	width: 120px;

  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

.badge a img:hover {
	height: 50px;
	width: 150px;
}


/***************************************
* Shows Styling
***************************************/
.shows {
	padding-bottom: 2%;
}

.shows_container {
	display: table;
	margin: 0 auto;
}

.show {
	display: inline-block;
	padding: 4% 70px;
}

.show p {
	display: block;
	text-align: center;
	padding: 0;
}

.show a img {
	height: 300px;
	width: 300px;
}

.past_shows {
	margin-bottom: 40px;
	text-align: center;
}

.past_show p {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	height: 60px;
	width: 240px;
	display: inline-block;
	vertical-align: top;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 900px) {
	.show a img {
		height: 240px;
		width: 240px;
	}
}

@media only screen and (max-width : 760px) {
	.show a img {
		height: 180px;
		width: 180px;
	}
}

@media only screen and (max-width : 740px) {
	.past_show p {
		width: 156px;
	}
}

@media only screen and (max-width : 640px) {
	.show {
		display: block;
	}
}

@media only screen and (max-width : 500px) {
	.past_show {
		padding: 2% 0;
	}

	.past_show p {
		height: auto;
		width: auto;
		display: block;
	}

	.venue {
		font-weight: 600;
	}
}

/***************************************
* Blog Styling
***************************************/
.blog div, .archive div div {
	display: inline-block;
	padding: 1% 0;
}

.blog div img, .archive div div img {
	display: inline-block;
	padding-right: 2%;
}

.blog div p, .archive div div p {
	display: inline;
	padding: 0;
	font-size: 18px;
}

.accordion-toggle 
{
	cursor: pointer;
}

.accordion-content 
{
	display: none;
}

.accordion-content.default 
{
	display: block;
}

.archive {
	padding-bottom: 40px;
}

#bar {
	padding: 2% 6%;
	background-color: black;
	color: white;
	font-family: JosefinSansTDH, Arial, sans-serif;
	opacity: 0.6;
}

#bar:hover {
	opacity: 0.8;
}

#title, #date {
	display: inline;
}

#title {
	font-size: 20px;
	font-weight: 300; 
}

#date {
	float: right;
	font-size: 16px;
	font-weight: 300; 
}

#content {
	padding: 2% 6%;
	background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width : 820px) {
	.blog h3 {
		text-align: none;
	}

	.blog div img, .archive div div img {
		height: 200px;
		width: 200px;
	}

	.blog div p, .archive div div p {
		font-size: 16px;
	}
}

/***************************************
* Bio Styling
***************************************/
.bio:before {	  
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: 5px;
  
	background-image: url('img/bio/band.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 360px;
	width: 900px;

	-webkit-filter: blur(5px) brightness(60%);
	-moz-filter: blur(5px) brightness(60%);
	-o-filter: blur(5px) brightness(60%);
	-ms-filter: blur(5px) brightness(60%);
	filter: blur(5px) brightness(60%);
}

.bio {	
	padding-bottom: 60px;
}

.bio h1, p {
	color: white;
}

.bio p {
	padding-left: 6%;
	padding-right: 6%;
}

.self_bio_container {
	text-align: center;
}

.self_bio {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	height: 450px;
	width: 400px;
	display: inline-block;
	vertical-align:top;
}

.self_bio img {
	border-radius: 5px;
	height: 300px;
	width: 200px;

	-webkit-filter: contrast(65%);
	-moz-filter: contrast(65%);
	-o-filter: contrast(65%);
	-ms-filter: contrast(65%);
	filter: contrast(65%);

    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
            transition: all 0.25s ease;
}

.self_bio img:hover {
	border-radius: 5px;
	height: 300px;
	width: 200px;

	-webkit-filter: contrast(100%);
	-moz-filter: contrast(100%);
	-o-filter: contrast(100%);
	-ms-filter: contrast(100%);
	filter: contrast(100%);
}

.self_bio p {
	display: block;
	text-align: center;
	padding: 0;
	color: black;
}

@media only screen and (max-width : 900px) {
	.bio:before {
		width: 100%;
	}
}

@media only screen and (max-width : 820px) {
	.bio:before {
		height: 260px;
	}

	.bio p {
		padding-left: 12%;
		padding-right: 12%;
	}

	.self_bio {
		height: 400px;
		width: 320px;
	}
}

@media only screen and (max-width : 521px) {
	.bio:before {
		height: 280px;
	}
}

@media only screen and (max-width : 471px) {
	.bio:before {
		height: 300px;
	}
}

@media only screen and (max-width : 430px) {
	.bio:before {
		height: 320px;
	}
}

@media only screen and (max-width : 356px) {
	.bio:before {
		height: 360px;
	}
}

@media only screen and (max-width : 324px) {
	.bio:before {
		height: 380px;
	}
}

/***************************************
* Merch Styling
***************************************/
.item_container {
	text-align:center;
}

#item {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	height: 340px;
	width: 260px;
	display: inline-block;
	vertical-align:top;
}

#item img {
	border-radius: 5px;
	height: 300px;
	width: 220px;
}

.item_overlay {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	height: 300px;
	width: 220px;
}

@media only screen and (max-width : 820px) {
	#item {
		height: 340px;
		width: 260px;
	}
}

/***************************************
* Contact Styling
***************************************/
.icons {
	text-align: center;
	margin: 60px 0;
}

.icon {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	height: 150px;
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.icon a img {
	height: 128px;
	width: 128px;

  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

.icon a img:hover {
	height: 140px;
	width: 140px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 600px) {
	.icons {
		display: table;
		text-align: left;
		margin: 0 auto;
	}

	.icon {
		display: block;
		padding: 5px;
	}
}

/***************************************
* Footer Styling
***************************************/
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 36px;
	width: 100%;

	background: #000;
}

.copyright {
	float: left;
	height: 100%;
	width: 80%;
}

.copyright p {
	color: white;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	padding: 0;
}

.social_media {
	float: right;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 700px) {
	.copyright {
		width: 62%;
	}

	.copyright p {
		font-size: 10px;
	}
}

@media only screen and (max-width : 400px) {
.copyright {
		width: 50%;
	}

	.copyright p {
		font-size: 8px;
	}
}


/**********************************
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
**********************************/

.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
	color: #000;
	display: inline-block;
	margin: 5px;
	padding: 3px 10px;
	font-size: 16px;
	font-family: JosefinSansTDH, Arial, sans-serif;
	font-weight: 900;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #FFF;
	opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
	display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	height: 12px;
	width: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #FFF;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	opacity: 1;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #F45;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}


/******************************* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 ******************************/

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item {
	float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
	cursor: pointer;
}

.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

#owl {
	padding: 2% 0;
}

#owl .item img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}