* {
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
    top: 26px;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
	border: 0;

	background-color: black;
	background-image: url('img/texture.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face {
	font-family: JosefinSansTDH;
	src: url('fonts/JosefinSansTDH.ttf');
}

@font-face {
	font-family: JosefinSansTDH-Bold;
	src: url('fonts/JosefinSansTDH-Bold.ttf');
}

h1 {
	display: inline-block;
	color: black;
	text-shadow: 5px 5px 8px #444;
	font-size: 90px;
	font-family: JosefinSansTDH, Arial, sans-serif;
	margin: 0;
	padding: 2% 6%;
}

p {
	display: inline-block;
	color: #333;
	text-shadow: 6px 6px 7px #888;
	font-weight: 300; 
	font-size: 36px;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 1% 6%;
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration:none;
} 

.centered {
	position: relative;
	text-align: center;
	padding-top: 16%;
	white-space: nowrap;
}

.hidden {
	visibility: hidden;
}

/***************************************
* Index Page Styling
***************************************/
.bandname {
	display: inline-block;
	color: black;
	text-shadow: 5px 5px 8px #444;
	font-size: 90px;
	font-family: JosefinSansTDH, Arial, sans-serif;
}

.sub-text {
	display: inline-block;
	color: #333;
	text-shadow: 6px 6px 7px #888;
	font-weight: 300; 
	font-size: 36px;
	font-family: Arial, sans-serif;
}

/***************************************
* Video Styling
***************************************/
.video-container {
    position: relative;
    padding-bottom: 52%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***************************************
* Blog Styling
***************************************/
.blog {
	background-image: url('img/texture_dark.jpg');
	padding-top: 40px;
	padding-bottom: 80px;
}

.blog h1, p {
	color: white;
	text-shadow: 2px 2px 4px #777;
}

/***************************************
* Shows Styling
***************************************/
.shows_container {
	display: table;
	margin: 0 auto;
}

.show {
	display: inline-block;
	padding: 30px 60px;
}

.show p {
	display: block;
	padding: 0;
	color: black;
}

/***************************************
* Bio Styling
***************************************/

/***************************************
* Lyrics Styling
***************************************/

/***************************************
* Merch Styling
***************************************/

/***************************************
* Contact Styling
***************************************/

/***************************************
* Footer Styling
***************************************/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 32px;
	width: 100%;
	color: white;
	background: #404040;
}

.footer div {
	display: inline;
	padding-left: 20px;
}